<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let recipe of recipes, let i = index" (click)="itemTapped($event, recipe, i)">
      <ion-icon name="flask" item-left></ion-icon>
      {{recipe.name}}
      <div class="item-note" item-right>
        {{ recipe.totalQty }} ml
      </div>
    </button>
  </ion-list>
  <!--<div *ngIf="selectedItem" padding>-->
    <!--You navigated here from <b>{{selectedItem.title}}</b>-->
  <!--</div>-->
</ion-content>
